<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://bootswatch.com/spacelab/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% feed.forEach(function(item){ %>
     <!-- <div> -->
       <li><%= item.growl %></li>
     <!-- </div> -->

     <% }); %>

    <form action="/" method="post">
      <input type="text" name="growl">
      <input type="submit" value="Get Your Growl On!">
    </form>

  </body>
</html>



        <!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->

