<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/" method="post">
      <input type="text" name="typeGrowl">
      <input type="submit" value="Get Your Growl On!">
    </form>
  </body>
</html>
