<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://bootswatch.com/spacelab/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <section>

    </section>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>

              <% feed.forEach(function(item){ %>

               <p><%= item.growl %><a href="#" class="alert-link"><br /><button onclick="myFunction()"> Destruct this Message!</button></a></p>

             <% }); %>
      </div>
        <script>
        function myFunction() {
            alert("You can't delete things from the Interwebz!");
        }
        </script>
  </body>

  <footer>
    <form action="/" method="post">
      <div class="col-lg-10 input">
        <textArea class="text" type="text" name="growl" maxlength='141' style='width:20em' rows="3"></textarea>
        <input class="submit" type="submit" value="Get Your Growl On!">
      </div>
    </form>
  </footer>
</html>


